<?xml version="1.0"?>
<!--
 * @author 18th DigiTech Team
 * @copyright Copyright (c) 2020 18th DigiTech (https://www.18thdigitech.com)
 * @package Eighteentech_Givex
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
	<default>
        <givexconfig>
			<generalconfig>
                <enable>1</enable>
            </generalconfig>
            <givexapi>
                <givexprimaryapi>https://dev-dataconnect.givex.com</givexprimaryapi>
                <givexsecondaryapi>https://dev-dataconnect.givex.com</givexsecondaryapi>
                <givexuserid>295925</givexuserid>
                <givexpassword>aqKby5rcK201RCdX</givexpassword>
                <givexreferenceid>29947GCE0001</givexreferenceid>
                <givexporta>50060</givexporta>
                <givexportb>55060</givexportb>
                <givexportc>56060</givexportc>
            </givexapi>
            <cronjobconfig>
                <importfulfilmentjobs>*/2 * * * *</importfulfilmentjobs>             
                <cleanfulfilmentlogs>0 23 * * *</cleanfulfilmentlogs>                
            </cronjobconfig>   
             <logsconfig>               
				<fulfilmentcleantime>5</fulfilmentcleantime>                
            </logsconfig>
        </givexconfig>        
    </default>
</config>
