<?xml version="1.0"?>
<!--
 * @author 18th DigiTech Team
 * @copyright Copyright (c) 2020 18th DigiTech (https://www.18thdigitech.com)
 * @package Eighteentech_Givex
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_submit_before">
		<observer name="givex_validate_giftcards" disabled="false" instance="Eighteentech\Givex\Observer\GiftCardsPreAuth"/>
    </event>
</config>
