<?xml version="1.0"?>
<!--
  * Copyright (c) 2021. 18th DigiTech Team. All rights reserved.
  * @author: <mailto:info@18thdigitech.com>
  * @package Eighteentech_Givex
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>        
         <add id="Eighteentech_Givex::giftcard" title="Givex" translate="title" module="Eighteentech_Givex" sortOrder="10" resource="Eighteentech_Givex::giftcard"/>                  
         <add id="Eighteentech_Givex::giftcardgeneral" title="General" module="Eighteentech_Givex" parent="Eighteentech_Givex::giftcard" sortOrder="100" resource="Eighteentech_Givex::giftcardgeneral"/>
         <add id="Eighteentech_Givex::config_giftcardgeneral" title="Configuration" module="Eighteentech_Givex" parent="Eighteentech_Givex::giftcardgeneral" sortOrder="10" action="adminhtml/system_config/edit/section/givexconfig" resource="Eighteentech_Givex::config_giftcardgeneral"/>
         <add id="Eighteentech_Givex::process_fulfilment" title="Process &amp; Logs" module="Eighteentech_Givex" parent="Eighteentech_Givex::giftcardgeneral" sortOrder="20" action="givex/fulfilment" resource="Eighteentech_Givex::process_fulfilment"/>                  
    </menu>
</config>
